*~
*.o
*.lo
*.la
sample/sample_c
src/arow_learn
src/arow_test
src/classifier_test
src/feature_test
src/result_test
src/tokenizer_test
src/Makefile
/bazel-bin
/bazel-genfiles
/bazel-out
/bazel-bazel
/bazel-testlogs
/bazel-arowpp