*~
*.o
*.lo
*.la
.deps
.libs
autom4te.cache
autoscan.log
config.h
config.log
config.status
Makefile
sample/sample_c
src/arow_learn
src/arow_test
src/classifier_test
src/feature_test
src/result_test
src/tokenizer_test
src/Makefile
stamp-h1
